@import domain.WebPage
@(analysisData: Option[WebPage], userForm: Form[WebsiteForm.Data], postUrl: Call)(implicit request: RequestHeader, messages: Messages)

@main("HTML-Analyzer") {

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/">HTML-Analyzer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      @navbarForm(userForm, postUrl)
    </div>
  </nav>

  @analysisData.map { result =>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">
              Domain
          <small class="text-muted">Hover for Full URL</small>
        </th>
        <th scope="col">Title</th>
        <th scope="col">HTML Version</th>

        <th scope="col">Login Form</th>

        @result.hyperlinks.map { hyperlink =>
          @{
            if(hyperlink._1) <th scope="col">Int. Links</th> else <th scope="col">Ext. Links</th>
          }
        }

        @result.headings.map { heading =>
          <th scope="col">@heading._1</th>
        }
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a data-toggle="tooltip" href="@result.location" title="@result.location">
          @result.domainName
          </a>
        </td>
        <td>@result.title</td>
        <td>@result.html_version.value</td>
        <td>@{
          if(result.hasLoginForm) "Yes" else "No"
        }</td>

        @result.hyperlinks.map { hyperlink =>
          <td>@hyperlink._2.size</td>
        }

        @result.headings.map { heading =>
          <td>@heading._2.toString</td>
        }
      </tr>
    </tbody>
  </table>
  }.getOrElse(None)

}