@(analysisData: Option[Webpage], form: Form[WebsiteForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader) @*Template constructor. Parameters can be used throughout the template*@
@main("HTTP-Analyzer") {


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HTTP-Analyzer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      @navbarForm(form, postUrl)
    </div>
  </nav>
  @* Flash shows updates to a page *@
  @request.flash.data.map { case (name, value) =>
  <div class="alert alert-success" role="alert">
    @value
  </div>
  }

  <table class="table .table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">HTML Version</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>@analysisData.fold("")(x => x.title)</td>
        <td>@analysisData.fold("")(page => page.html_version.value)</td>
      </tr>
    </tbody>
  </table>
}